* {
  box-sizing: border-box;
}

@mixin flexcenter($type: center){
  display: flex;
  align-items: center;
  justify-content: $type;
}

.side__chat{
  float: left;
  .header__side{
    background: #253141;
    height: 100px;
    width: 300px;
    @include flexcenter();

      &__item{
        background: #253141;
        height: 20px;
        width: 260px;
        @include flexcenter(space-between);
      }
        .side__item__name{
          color: #ffffff;
          height: 20px;
          width: calc(100% - 60px);
        }
        .side__item__icon{
          height: 20px;
          width: 60px;
          text-align: right;
          
          .side__item--edit{
            line-height: 20px;
            color: #ffffff;
            padding-right: 5px;
          }
          .side__item--gear{
            line-height: 20px;
            color: #ffffff;
          }
        }
  }
  .main__side{
    background: #2f3e51;
    height: calc(100vh - 100px);
    width: 300px;

    &__group{
      width: 260px;
      margin: 0 auto;

      .side__groups{
        display: block;
        text-decoration: none;
      
        .side__group__name{
          color: #ffffff;
          font-size: 15px;
          font-weight: bold;
          padding: 20px 0 5px;
        }
        .side__group__message{
          color: #ffffff;
          font-size: 11px;
          font-weight: bold;
          margin-bottom: 40px;
          text-decoration: none;
        }
      }
    }
  }
}
.main{
  float: right;
  background: #ffffff;
  height: 100px;
  width: calc(100% - 300px);
  .header__main{
    @include flexcenter(space-between);

      &__left{
        height: 100px;

        .left__group--text{
          color: #333333;
          font-size: 20px;
          margin: 35px 40px 15px;
        }
        .left__group--menber{
          color: #999999;
          font-size: 15px;
          margin: 0 40px;
          .menber__names{
            display: flex;
          }
        }
      }
      &__right{
        padding: 0 20px;
        margin: 28px 20px 28px;

        .right__group--edit{
          display: block;
          height: 40px;
          color: #38aef0;
          border: solid 1px;
          padding: 0 20px;
          line-height: 40px;
          text-decoration: none;
        }
      }
  }
  
  .main__chat{
    background: #fafafa;
    height: calc(100vh - 190px);
    width: calc(100vw - 300px);
    overflow: scroll;
  
    &__message{
      padding: 35px 40px 46px;
      .chat__user{
        color: #333333;
          .chat__date{
            color: #999999;
            font-size: 12px;
          }
      }
      .user__message{
        color: #434A54;
        font-size: 14px;
      }
    }
  }
  .form{
    background: #d2d2d2;
    height: 90px;
    width: calc(100vw - 300px);
    
    &__box{
      width: 100%;
      padding-left: 40px;
      padding-top: 20px;
      
      .input__box{
        position: relative;
        width: 100%;
        display: flex;

        .post__form{
          border: none;
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          cursor: text;
        }

        .post__image{
          font-size: 1.4rem;
          position: absolute;
          top: 12px;
          right: 160px;
          cursor: pointer;
          .image__form{
            display: none;
          }
        }

        .submit__btn{
          background: #38aef0;
          height: 50px;
          width: 100px;
          color: #ffffff;
          margin: 0 40px 0 15px;
          cursor: pointer;
        }
      }
    }
  }
}